@import '../../../utilities/CSS/variables.module.scss';

.footer {
  // background-color: #eeb575;
  background-color: #161110;
  color: #fff;
  font-family: Montserrat, sans-serif;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 14px;

  a {
    color: #fff;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    will-change: opacity, translate;

    &:hover {
      -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      transform: translateY(-3px);
      opacity: 0.5;
    }
  }

  .logo {
    max-width: 140px;
    margin: 20px auto;

    img {
      width: 100%;
    }
  }

  .copy {
    margin: 40px auto 40px;
    width: 90%;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 2px;
  }

  .generalInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 830px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media (max-width: $mobile-lg) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
    }

    .brands {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 -8px;
      padding: 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      @media (max-width: $mobile-lg) {
        -webkit-box-pack: initial;
        -ms-flex-pack: initial;
        justify-content: initial;
      }

      .brand {
        list-style: none;
        padding: 8px;
        margin: 0;

        a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .section {
      padding: 20px;

      dd {
        padding: 3px 0;
      }

      dt {
        letter-spacing: 2px;
      }
      .heading {
        color: #fff;
        font-size: 1.25em;
        font-weight: 300;
        letter-spacing: -1px;
      }

      .moreInfo {
        background-color: transparent;
        color: #fff;
        appearance: none;
        border: 1px solid #fff;
        cursor: pointer;
        display: inline-block;
        font-weight: 300;
        height: 2.75em;
        line-height: 2.75em;
        min-width: 9.25em;
        padding: 0 1.5em;
        text-align: center;
        text-decoration: none;
      }
    }
  }

  .loginButton {
    text-align: center;
    text-decoration: underline;
  }

  .logoutButton {
    text-align: center;
    text-decoration: underline;
    margin: 10px;

    button {
      color: #fff;
    }
  }
}
